<div class="container">
    <h1>SERVICIOS GENERALES</h1>

    <div class="service">
      <img src="../../../assets/img/estudiante-clase-en-linea.jpg" alt="Capacitaciones"/>  
      <div class="service-content">
        <p>Capacitaciones personalizadas de acuerdo a las necesidades individuales con respecto al SRI, IESS, Ministerio de trabajo, SCVS, UAFE, etc.</p>
        <a class="btn-whatsapp" href="https://api.whatsapp.com/send?phone=593939762564&text=Hola, deseo más información sobre el servicio de Capacitaciones con respecto a SRI u otros." target="_blank">Contactar por WhatsApp</a>
      </div> 
    </div>

    <div class="service">
      <img src="../../../assets/img/planificacionTributaria.png" alt="Asesoría contable"/>  
      <div class="service-content">  
        <p>Trámites relacionados a patente municipal, tasa bomberil, Ministerio de trabajo, IESS, UAFE, SRI, SCVS, etc.</p>
        <a class="btn-whatsapp" href="https://api.whatsapp.com/send?phone=593939762564&text=Hola, deseo más información sobre el servicio de Trámites." target="_blank">Contactar por WhatsApp</a>
      </div>
    </div>

    <div class="service">
      <img src="../../../assets/img/calculadora.jpg" alt="Obligaciones de control"/>  
      <div class="service-content">
        <p>Capacitaciones con relación a ingresos, egresos y costos, etc.</p>
        <a class="btn-whatsapp" href="https://api.whatsapp.com/send?phone=593939762564&text=Hola, deseo más información sobre el servicio de Capacitaciones de ingresos, egresos, costos..." target="_blank">Contactar por WhatsApp</a>
      </div>
    </div>

    <div class="service">
      <img src="../../../assets/img/empresario-analizando.jpg" alt="Servicios generales"/>    
      <div class="service-content">  
        <p>En general, servicios enfocados a sus necesidades personales.</p>
        <a class="btn-whatsapp" href="https://api.whatsapp.com/send?phone=593939762564&text=Hola, deseo más información sobre sus servicios generales." target="_blank">Contactar por WhatsApp</a>
      </div>  
    </div>
</div>