<div class="live-courses-container">
  <h2 class="section-title">Servicios</h2>

  <div class="contenedor">
    <div class="block" id="left-block" [routerLink]="['/servicios-emprendedores']"  (click)="scrollToTop()">
        <img src="../../../assets/img/estadosFinancieros.jpg" alt="Emprendedores" class="block-image" />
        <h3 class="titulo-emprendedores">Emprendedores</h3>
        <p class="description">
            E-CONT brinda sus servicios a emprendedores mediante capacitaciones, asesoría o cumplimiento de obligaciones contables-tributarias, acorde a la nueva normativa, tanto para la creación de nuevas empresas, como para sus registros contables, obligaciones tributarias o en el desarrollo de estudios para productos o servicios con innovación y visión.
        </p>
    </div>

    <div class="block" id="right-block" [routerLink]="['/servicios-mipymes']"  (click)="scrollToTop()">
        <img src="../../../assets/img/cerrar-mano-sujetapapeles.jpg" alt="Mipymes" class="block-image" />
        <h3 class="titulo-emprendedores">Mipymes</h3>
        <p class="description">
            E-CONT brinda sus servicios a Mipymes (micro, pequeñas y medianas empresas), organizaciones clave para el desarrollo económico local y la generación de empleo, mediante capacitaciones o asesoría en los ámbitos contable, laboral, societario, y tributario.
        </p>
    </div>
  </div>
</div>
