<div class="live-courses-container">
  <h2 class="section-title">Servicios</h2>

  <div class="contenedor">
    <div class="block" id="left-block" [routerLink]="['/servicios-emprendedores']"  (click)="scrollToTop()">
        <img src="../../../assets/img/estadosFinancieros.jpg" alt="Emprendedores" class="block-image" />
        <h3 class="titulo-emprendedores">Emprendedores</h3>
        <p class="description">
            Estimado/a emprendedor/a conocemos la energía y entrega diaria que le dedica a su negocio, por lo que, tenga la certeza de que E-CONT le brinda servicios de calidad acompañados de calidez y profesionalismo con la intención primordial de apoyarle en su crecimiento empresarial.
        </p>
    </div>

    <div class="block" id="center-block" [routerLink]="['/servicios-mipymes']"  (click)="scrollToTop()">
        <img src="../../../assets/img/cerrar-mano-sujetapapeles.jpg" alt="Mipymes" class="block-image" />
        <h3 class="titulo-emprendedores">Mipymes</h3>
        <p class="description">
            E-CONT brinda sus servicios a Mipymes (micro, pequeñas y medianas empresas), organizaciones clave para el desarrollo económico local y para la generación de empleo, por ello, se le ofrece servicios de calidad acompañados de calidez y profesionalismo con la intención primordial de apoyarle en su crecimiento empresarial y en el cumplimiento de obligaciones frente a entidades de vigilancia y control de acuerdo a la normativa ecuatoriana vigente.
        </p>
    </div>

    <div class="block" id="right-block" [routerLink]="['/servicios-generales']"  (click)="scrollToTop()">
        <img src="../../../assets/img/servicios-generales.jpg" alt="Generales" class="block-image" />
        <h3 class="titulo-emprendedores">Servicios Generales</h3>
        <p class="description">
            Estimado público en general y contadores que inician su desarrollo profesional E-CONT les ofrece servicios eventuales de contabilidad, tributación o costos de acuerdo a sus requerimientos personales.
        </p>
    </div>

  </div>
</div>
