<div class="container">
    <h1>Teléfonos de Contacto</h1>
    
    <div class="contact-info">
      <p><i class="icon">📞</i><strong>Teléfono principal:</strong> 07-2-109604</p>
      <p><i class="icon">📱</i><strong>Celular:</strong>0939762564</p>
      <p><i class="icon">💬</i><strong>WhatsApp:</strong>0939762564</p>
      <p><i class="icon">✉️</i><strong>Email:</strong>gmcoronel1992@gmail.com</p>
    </div>

    <div class="divider"></div>

    <div class="manager">
      <img src="../../../assets/img/Integrantes_Econt 2.jpg" alt="Gerente de la empresa" />
      <div class="manager-info">
        <h3>Lic. CPA Gabriela Coronel</h3>
        <p>Gerente General</p>
      </div>
    </div>
</div>
