<div id="title">
    <h1>{{title}}</h1>
    <h2>{{subtitle}}</h2>
    
</div>

<article class="about">
    <h2>Sobre nosotros</h2>
    <p>
        Somos una empresa contable, económica, y tributaria que ofrece sus servicios 
        a emprendedores, micro y pequeños empresarios domiciliados en el Ecuador que 
        se encuentren obligados o no a llevar contabilidad, nuestro objetivo principal 
        es ser un soporte clave en el manejo de información de ingresos y egresos, así 
        como también del activo, pasivo y patrimonio de las diversas actividades económicas, 
        de esa manera facilitar la toma de decisiones, apoyando y acompañando su crecimiento 
        empresarial, así mismo, mantenemos una vigilancia oportuna en el cumplimiento de 
        obligaciones ante las diferentes entidades de control conforme la normativa vigente 
        ecuatoriana. Trabajamos de acuerdo a varios criterios que conforman su perfil 
        empresarial con la finalidad de ofrecerle el mejor servicio según las necesidades 
        de su negocio.

    </p>
</article>