<div id="title">
    <h1>{{title}}</h1>
    <h2>{{subtitle}}</h2>
    
</div>

<article class="about">
    <h2>Sobre nosotros</h2>
    <p>
        Somos una empresa contable, económica, y tributaria que ofrece sus servicios a empresas domiciliadas en el Ecuador, nuestro objetivo es llevar un registro contable 
        fiel a la actividad económica de nuestros clientes y conforme a las nec, niif, nic, y normativa tributaria ecuatoriana, además de obtener indicadores económicos 
        y financieros en base a los resultados obtenidos en cada periodo, con el objetivo de poder tomar deciciones basadas en información estadística almacenada en nuestras 
        bases de datos.

    </p>
</article>