<div class="container">
    <h1>SERVICIOS</h1>

    <div class="service">
      <p>Capacitaciones básicas o avanzadas de acuerdo al perfil empresarial.</p>
      <a class="btn-whatsapp" href="https://api.whatsapp.com/send?phone=593939762564&text=Hola, deseo más información sobre el servicio de Capacitaciones." target="_blank">Contactar por WhatsApp</a>
    </div>

    <div class="service">
      <p>Asesoría y acompañamiento contable, tributario o de costos.</p>
      <a class="btn-whatsapp" href="https://api.whatsapp.com/send?phone=593939762564&text=Hola, deseo más información sobre el servicio de Asesoría contable." target="_blank">Contactar por WhatsApp</a>
    </div>

    <div class="service">
      <p>Cumplimiento de obligaciones frente a entidades de control.</p>
      <a class="btn-whatsapp" href="https://api.whatsapp.com/send?phone=593939762564&text=Hola, deseo más información sobre el servicio de Cumplimiento de obligaciones." target="_blank">Contactar por WhatsApp</a>
    </div>

    <div class="service">
      <p>En general, servicios en base a las necesidades individuales del negocio.</p>
      <a class="btn-whatsapp" href="https://api.whatsapp.com/send?phone=593939762564&text=Hola, deseo más información sobre los servicios generales." target="_blank">Contactar por WhatsApp</a>
    </div>
</div>