<div class="container">
    <h1>SERVICIOS PARA MIPYMES</h1>

    <div class="service">
      <img src="../../../assets/img/estudiante-clase-en-linea.jpg" alt="Capacitaciones"/>  
      <div class="service-content">
        <p>Capacitaciones de acuerdo al perfil empresarial.</p>
        <a class="btn-whatsapp" href="https://api.whatsapp.com/send?phone=593939762564&text=Hola, deseo más información sobre el servicio de Capacitaciones para MIPYMES." target="_blank">Contactar por WhatsApp</a>
      </div> 
    </div>

    <div class="service">
      <img src="../../../assets/img/planificacionTributaria.png" alt="Asesoría contable"/>  
      <div class="service-content">  
        <p>Asesoría contable, tributario o de costos.</p>
        <a class="btn-whatsapp" href="https://api.whatsapp.com/send?phone=593939762564&text=Hola, deseo más información sobre el servicio de Asesoría contable para MIPYMES." target="_blank">Contactar por WhatsApp</a>
      </div>
    </div>

    <div class="service">
      <img src="../../../assets/img/calculadora.jpg" alt="Obligaciones de control"/>  
      <div class="service-content">
        <p>Cumplimiento de obligaciones frente a entidades de vigilancia y control.</p>
        <a class="btn-whatsapp" href="https://api.whatsapp.com/send?phone=593939762564&text=Hola, deseo más información sobre el servicio de Cumplimiento de obligaciones para MIPYMES." target="_blank">Contactar por WhatsApp</a>
      </div>
    </div>

    <div class="service">
      <img src="../../../assets/img/empresario-analizando.jpg" alt="Servicios generales"/>    
      <div class="service-content">  
        <p>En general, servicios en base a las necesidades individuales de la micro o pequeña empresa.</p>
        <a class="btn-whatsapp" href="https://api.whatsapp.com/send?phone=593939762564&text=Hola, deseo más información sobre los servicios generales para MIPYMES." target="_blank">Contactar por WhatsApp</a>
      </div>  
    </div>
</div>
